.service

	// title block

	h2.title-block
		| Замена замков

	// goods

	.goods

		ul

			// item

			li
				.subblock__main-services__circle
					img(src="../img/main-services/main-service-4.png" alt="")
					a(href="#" title="")
						| Гарантия

				.goods__line

				p
					| Двери, выполненные из качественных материалов, и надежные системы блокировки дверей – замки

				// item

				li
					.subblock__main-services__circle
						img(src="../img/main-services/main-service-5.png" alt="")
						a(href="#" title="")
							| Выезд в любой район

					.goods__line

					p
						| Двери, выполненные из качественных материалов, и надежные системы блокировки дверей – замки

				// item

				li
					.subblock__main-services__circle
						img(src="../img/main-services/main-service-6.png" alt="")
						a(href="#" title="")
							| Круглосуточно

					.goods__line

					p
						| Двери, выполненные из качественных материалов, и надежные системы блокировки дверей – замки

	// characteristics

	.characteristics

		ul
			li
				p
					| Замена цилиндра замка
				span
					| от 500 руб.
			li
				p
					| Замена замка б/р двери
				span
					| от 1000 руб.

		ul
			li
				p
					| Замена цилиндра замка
				span
					| от 500 руб.
			li
				p
					| Замена замка б/р двери
				span
					| от 1000 руб.


	// service content

	.text-content-default__body

		img(src="../img/lock.png" alt="@@")

		.text-content-default__content

			p
				| Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста по поводу дальнейшей эксплуатации замка, возможность выбрать замок из каталога предложенных на свой вкус и установить его моментально. Наша замена замков входных дверей известна во всем городе, как та, что включает в себя полный спектр работ, необходимых для того, чтобы дверь работала исправно. С нами замена дверных замков – это не просто механические действия, но и тщательный осмотр входной двери, профилактика намечающихся неисправностей, определение того, какой тип инструментария необходим для ремонта конкретной поломки.Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста  