.basket

	// title block

	h2.title-block
		| Оформление заказа

	table
		thead
			tr
				td
					|	Фото
				td
					|	Наименование
				td
					|	Артикул
				td
					|	Кол-во
				td
					|	Цена
				td
					|	Итого
				td
					|	
		tbody

			// item

			tr
				td
					img(src="../img/goods/good-1.png" alt="@@")
				td
					|	Замок сувильдный KALE
					span
						| Начислено 15 баллов
				td
					|	D-603
				td
					.opt-quontity
						span.quont-minus
							| -
						input(type="text" value="1")
						span.quont-plus
							| +
				td
					span.basket__price
						| 3400 руб.
				td
					span.basket__price
						| 3400 руб.
				td
					a.basket__close(href="#" title="")

			// item

			tr
				td
					img(src="../img/goods/good-2.png" alt="@@")
				td
					|	Замок сувильдный KALE
					span
						| Начислено 15 баллов
				td
					|	D-603
				td
					.opt-quontity
						span.quont-minus
							| -
						input(type="text" value="1")
						span.quont-plus
							| +
				td
					span.basket__price
						| 3400 руб.
				td
					span.basket__price
						| 3400 руб.
				td
					a.basket__close(href="#" title="")

			// item

			tr
				td
					img(src="../img/goods/good-3.png" alt="@@")
				td
					|	Замок сувильдный KALE
					span
						| Начислено 15 баллов
				td
					|	D-603
				td
					.opt-quontity
						span.quont-minus
							| -
						input(type="text" value="1")
						span.quont-plus
							| +
				td
					span.basket__price
						| 3400 руб.
				td
					span.basket__price
						| 3400 руб.
				td
					a.basket__close(href="#" title="")

			// item

			tr
				td
					img(src="../img/goods/good-1.png" alt="@@")
				td
					|	Замок сувильдный KALE
					span
						| Начислено 15 баллов
				td
					|	D-603
				td
					.opt-quontity
						span.quont-minus
							| -
						input(type="text" value="1")
						span.quont-plus
							| +
				td
					span.basket__price
						| 3400 руб.
				td
					span.basket__price
						| 3400 руб.
				td
					a.basket__close(href="#" title="")

			// item

			tr
				td
					img(src="../img/goods/good-2.png" alt="@@")
				td
					|	Замок сувильдный KALE
					span
						| Начислено 15 баллов
				td
					|	D-603
				td
					.opt-quontity
						span.quont-minus
							| -
						input(type="text" value="1")
						span.quont-plus
							| +
				td
					span.basket__price
						| 3400 руб.
				td
					span.basket__price
						| 3400 руб.
				td
					a.basket__close(href="#" title="")

	.basket__total
		p
			| Сумма: 3400 руб.
		p
			| Итого: 3400 руб.

	.basket__buttons

		a.btn-red(href="#" title="")
			| Оформить заказ

		a.basket__buttons__back(href="#" title="")
			| Вернуться в магазин