.subblock__main-services

  // centered

  .centered__big

    h2.title-block
      | Наши услуги


    // goods

    .goods

      ul

        // item

        li
          .subblock__main-services__circle
            img(src="../img/main-services/main-service-1.png" alt="")
          a(href="#" title="")
            | Замена замков

          .goods__line

          p
            | Двери, выполненные из качественных материалов, и надежные системы блокировки дверей – замки

          a.goods__send-inquiry(href="#" title="")
            | Отправить запрос

        // item

        li
          .subblock__main-services__circle
            img(src="../img/main-services/main-service-2.png" alt="")
          a(href="#" title="")
            | Установка замков

          .goods__line

          p
            | Двери, выполненные из качественных материалов, и надежные системы блокировки дверей – замки

          a.goods__send-inquiry(href="#" title="")
            | Отправить запрос

        // item

        li
          .subblock__main-services__circle
            img(src="../img/main-services/main-service-3.png" alt="")
          a(href="#" title="")
            | Модернизация дверей

          .goods__line

          p
            | Двери, выполненные из качественных материалов, и надежные системы блокировки дверей – замки

          a.goods__send-inquiry(href="#" title="")
            | Отправить запрос