.subblock__manufactures

  // centered

  .centered__very-big

    h2.title-block
      | Производители

    ul
      li: img(src="../img/manufactures/manufacture-1.png" alt="@@")
      li: img(src="../img/manufactures/manufacture-2.png" alt="@@")
      li: img(src="../img/manufactures/manufacture-3.png" alt="@@")
      li: img(src="../img/manufactures/manufacture-4.png" alt="@@")
      li: img(src="../img/manufactures/manufacture-5.png" alt="@@")
      li: img(src="../img/manufactures/manufacture-6.png" alt="@@")
      li: img(src="../img/manufactures/manufacture-7.png" alt="@@")
      li: img(src="../img/manufactures/manufacture-8.png" alt="@@")