.catalog

	// title block

	h2.title-block
		| Замки врезные

	// selects

	.catalog__selects

		.catalog__selects__body
			p
				| Производитель:
			select
				option
					| KALE

		.catalog__selects__body
			p
				| Сортировка по цене:
			select
				option
					| по возрастанию

		.catalog__selects__body
			p
				| Показать по:
			select
				option
					| 12

	// goods

	.goods

		ul

			// item

			li
				img(src="../img/goods/good-1.png" alt="")
				a(href="#" title="")
					| Бронированные дверные ручки

				.goods__line

				p
					span
						| Тип механизма:
					| сульвидный
				p
					span
						| Класс:
					| 4
				a.goods__send-inquiry(href="#" title="")
					| Отправить запрос

			// item

			li
				img(src="../img/goods/good-2.png" alt="")
				a(href="#" title="")
					| Бронированные дверные ручки

				.goods__line

				p
					span
						| Тип механизма:
					| сульвидный
				p
					span
						| Класс:
					| 4
				a.goods__send-inquiry(href="#" title="")
					| Отправить запрос

			// item

			li
				img(src="../img/goods/good-3.png" alt="")
				a(href="#" title="")
					| Бронированные дверные ручки

				.goods__line

				p
					span
						| Тип механизма:
					| сульвидный
				p
					span
						| Класс:
					| 4
				a.goods__send-inquiry(href="#" title="")
					| Отправить запрос

			// item

			li
				img(src="../img/goods/good-1.png" alt="")
				a(href="#" title="")
					| Бронированные дверные ручки

				.goods__line

				p
					span
						| Тип механизма:
					| сульвидный
				p
					span
						| Класс:
					| 4
				a.goods__send-inquiry(href="#" title="")
					| Отправить запрос

			// item

			li
				img(src="../img/goods/good-2.png" alt="")
				a(href="#" title="")
					| Бронированные дверные ручки

				.goods__line

				p
					span
						| Тип механизма:
					| сульвидный
				p
					span
						| Класс:
					| 4
				a.goods__send-inquiry(href="#" title="")
					| Отправить запрос

			// item

			li
				img(src="../img/goods/good-3.png" alt="")
				a(href="#" title="")
					| Бронированные дверные ручки

				.goods__line

				p
					span
						| Тип механизма:
					| сульвидный
				p
					span
						| Класс:
					| 4
				a.goods__send-inquiry(href="#" title="")
					| Отправить запрос



	// .breadcrumbs

	.breadcrumbs

		ul
			li: a.breadcrumbs__active(href="#" title="")
				| 1
			li: a(href="#" title="")
				| 2
			li: a(href="#" title="")
				| 3
			li: a(href="#" title="")
				| >						

	p
		| Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста по поводу дальнейшей эксплуатации замка, возможность выбрать замок из каталога предложенных на свой вкус и установить его моментально. Наша замена замков входных дверей известна во всем городе, как та, что включает в себя полный спектр работ, необходимых для того, чтобы дверь работала исправно. С нами замена дверных замков – это не просто механические действия, но и тщательный осмотр входной двери, профилактика намечающихся неисправностей, определение того, какой тип инструментария необходим для ремонта конкретной поломки.Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста   Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста по поводу дальнейшей эксплуатации замка, возможность выбрать замок из каталога предложенных на свой вкус и установить его моментально. Наша замена замков входных дверей известна во всем городе, как та, что включает в себя полный спектр работ, необходимых для того, чтобы дверь работала исправно. С нами замена дверных замков – это не просто механические действия, но и тщательный осмотр входной двери, профилактика намечающихся неисправностей, определение того, какой тип инструментария необходим для ремонта конкретной поломки.