.upholstery

	// title block

	h2.title-block
		| Обивка и отделка

	// characteristics

	.characteristics

		ul
			li
				p
					| Обивка двери одна сторона под ключ с учетом матерала (Винилскожей)       
				span
					| от 1500 руб.

			li
				p
					| Обивка двери одна сторона под ключ с учетом матерала (Винилскожей)       
				span
					| от 1500 руб.

			li
				p
					| Обивка двери одна сторона под ключ с учетом матерала (Винилскожей)       
				span
					| от 1500 руб.

			li
				p
					| Обивка двери одна сторона под ключ с учетом матерала (Винилскожей)       
				span
					| от 1500 руб.

			li
				p
					| Обивка двери одна сторона под ключ с учетом матерала (Винилскожей)       
				span
					| от 1500 руб.

			li
				p
					| Обивка двери одна сторона под ключ с учетом матерала (Винилскожей)       
				span
					| от 1500 руб.					

			li
				p
					| Обивка двери одна сторона под ключ с учетом матерала (Винилскожей)       
				span
					| от 1500 руб.

	// service content

	.text-content-default__body

		img(src="../img/articles/article-1.png" alt="@@")

		.text-content-default__content

			p
				| Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста по поводу дальнейшей эксплуатации замка, возможность выбрать замок из каталога предложенных на свой вкус и установить его моментально. Наша замена замков входных дверей известна во всем городе, как та, что включает в себя полный спектр работ, необходимых для того, чтобы дверь работала исправно. С нами замена дверных замков – это не просто механические действия, но и тщательный осмотр входной двери, профилактика намечающихся неисправностей, определение того, какой тип инструментария необходим для ремонта конкретной поломки.Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста

.upholstery__exapmple-works

	// title block

	h2.title-block
		| Примеры работ

	ul.upholstery__exapmple-works_list
		li
			a(href="#" title="")
				img(src="../img/doors/door-1.png" alt="@@")
		li
			a(href="#" title="")
				img(src="../img/doors/door-2.png" alt="@@")
		li
			a(href="#" title="")
				img(src="../img/doors/door-3.png" alt="@@")
		li
			a(href="#" title="")
				img(src="../img/doors/door-4.png" alt="@@")
		li
			a(href="#" title="")
				img(src="../img/doors/door-5.png" alt="@@")
		li
			a(href="#" title="")
				img(src="../img/doors/door-6.png" alt="@@")
		li
			a(href="#" title="")
				img(src="../img/doors/door-7.png" alt="@@")