.card

	// title block

	h2.title-block
		| Замок сувильдный KALE

	// card body

	.card__body

		img(src="../img/product.png" alt="")

		.card__body__content

			p
				| Наша компания начала свое существование в далеком 1993 году с небольшого производства металлоконструкций в том числе металлических дверей, в 95ом мы стали одни из крупнейших производителей дверей в Москве. Наши двери выходили под маркой "Корунд" в месяц мы изготавливали порядка 1000 дверей.

			p
				| Производитель: Kale (Кале)

			p
				| Код товара: 7995-03

			p
				| Наличие: есть в наличии

			p
				| Цена:
				span.card__price
					| 3600 руб.

			a.btn.btn-red(href="#" title="")
				| Отправить запрос

	// characteristics

	.characteristics

		h4
			| Характеристики

		ul
			li
				p
					| Бэксет (удаление ключевого отверстия)    
				span
					| 50 мм

			li
				p
					| Вес      
				span
					| 990 г

			li
				p
					| Диаметр ригеля       
				span
					| -

			li
				p
					| Запирание изнутри       
				span
					| Ключом

			li
				p
					| Класс безопасности      
				span
					| 2

			li
				p
					| Количество ключей       
				span
					| 3					

			li
				p
					| Количество комбинаций      
				span
					| 55 000

			li
				p
					| Материал ключа     
				span
					| Латунь

			li
				p
					| Наличие защелки   
				span
					| Есть

			li
				p
					| Наличие цепочки      
				span
					| Нет

			li
				p
					| Производитель   
				span
					| KALE KILIT

			li
				p
					| Страна      
				span
					| Турция

			li
				p
					| Тип защелки      
				span
					| Универсальная

			li
				p
					| Тип механизма секретности      
				span
					| Цилиндровый

			li
				p
					| Тип упаковки      
				span
					| Коробка

			li
				p
					| Цвет       
				span
					| Черный
