@media only screen and (min-width : 0px) and (max-width : 1024px) {

	// card

	.card {
		height: auto;
		overflow: hidden;

		h4 {
			font: 24px @roboto-bold;
			color: @black;
			margin-bottom: 20px;
		}

	}

	.card__body {
		height: auto;
		overflow: hidden;

		img {
			display: block;
			float: none;
			width: 100%;
			height: auto;
		}

	}

	.card__body__content {
		padding: 20px 0 40px 0;
		float: none;
		width: auto;
		border-left: 0;

		p {
			margin-bottom: 20px;
			font: 20px @roboto-light;
			color: @black;
			line-height: 26px;
		}

	}

	.card__price {
		padding-left: 6px;
		font: 36px @roboto-bold;
		color: #283b41;
	}

	.btn {
		margin-top: 60px;
		float: none;
	}

	.card .characteristics {
		margin-top: 60px;
	}

	.card .characteristics ul li {
		float: none;
		width: auto;
	}

	.card .characteristics ul li:nth-child(2n+2) {
		background: #e7ecef;
	}

}