.subblock__main-action-screen

  // centered

  .centered__very-big

    // preview

    img(src="../img/goods/good-4.png" alt="@@")


    // content

    .subblock__main-action-screen__content

      h2
        | Скидка 10% на вызов <br/> мастера до конца весны!

      p
        | Плохо работают дверные замки, пришло время заменить их новыми, но необходимы письменные гарантии? Отдав предпочтение Нам, вы сделали верный выбор!

    // form send

    form(action="/" method="post")
      input(type="text" name="" placeholder="")
      input(type="text" name="" placeholder="")
      input(type="submit" name="" value="")