nav.main-navigation

	// centered

	.centered__main

		.navigation__body

			// navigation links

			ul.navigation__links
				li: a(href="#" title="")
					| Каталог
				li: a(href="#" title="")
					| Услуги
				li: a(href="#" title="")
					| Новости
				li: a(href="#" title="")
					| Портфолио
				li: a(href="#" title="")
					| Контакты
				li: a(href="#" title="")
					| О компании

			// basket small

			.basket__small
				a(href="#" title="")
					| 0 товаров