header.main-header#header

	// centered

	.centered__main

		// logo

		a.main-header__logo(href="#" title="")
			img(src="../img/main-header-logo.png" alt="@@")

		// title site

		.main-header__title-site
			p
				| Замена и ремонт замков дверей
			p
				| Выезд по Москве и МО

		// contacts

		.block__contacts.main-header__contacts
			a.block__contacts__phone(href="tel:+74955655656" title="")
				| +7 (495) <span>565 56 56</span>
			p
				img(src="../img/icons/icon-1.png" alt="")
				| Круглосуточно

		// call

		a.btn-red.main-header__call(href="#" title="")
			| Заказать звонок
