@media only screen and (min-width : 0px) and (max-width : 1024px) {

	// sertificates

	.sertificates {
		margin: 0 auto;
		width: auto;
		height: auto;
		overflow: hidden;
		margin-bottom: 40px;

		ul {

			li {
				margin-bottom: 36px;
				float: left;
				width: 47%;
				margin-right: 5%;

				img {
					display: block;
					width: 100%;
					height: auto;
				}

				&:nth-child(2n+2) {
					margin-right: 0;
				}

			}

		}

	}

	.reviews {
		height: auto;
		overflow: hidden;
		margin-bottom: 60px;
	}

	.reviews__review {
		height: auto;
		overflow: hidden;
		margin-bottom: 30px;

		img {
			margin-left: 50px;
			margin-right: 60px;
			display: block;
			float: none;
			width: 129px;
			height: 129px;
			border-radius: 50%;
			margin: 20px auto;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	.reviews__review__content {
		width: auto;
		float: none;
		text-align: center;

		p {
			font: 16px @roboto-light;
			color: @black;
		}

	}

	.reviews__review__content__name {
		margin-bottom: 16px;
		font: 24px @roboto-bold !important;
		color: @black;

		span {
			padding-left: 10px;
			font: 20px @roboto-light !important;
			color: @black;
		}

	}

}