.sertificates

	// title block

	h2.title-block
		| Сертификаты

	ul
		li
			a(href="#" title="")
				img(src="../img/sertificates/sertificate-3.png" alt="@@")
		li
			a(href="#" title="")
				img(src="../img/sertificates/sertificate-3.png" alt="@@")
		li
			a(href="#" title="")
				img(src="../img/sertificates/sertificate-3.png" alt="@@")

.reviews

	// title block

	h2.title-block
		| Отзывы	

	// reivew

	.reviews__review

		img(src="../img/avatar.png" alt="@@")

		.reviews__review__content

			p.reviews__review__content__name
				| Mike
				span
					| 12.06.2017, 12:03

			p
				| Наша компания начала свое существование в далеком 1993 году с аша компания начала свое существование в далеком 1993 году с небольшого производства металлоконструкций в том числе металлических дверей, в 95ом мы стали одни из крупнейших производителей дверей в Москве. Наши двери выходили под маркой "Корунд" в месяц мы изготавливали порядка 1000 дверей. Со временем нам понадобилось

	// add review

a.add-review.btn-red.center(href="#" title="")
	| Добавить отзыв