@import '../styles/fonts.css';
@import '../styles/reset.css';
@media only screen and (min-width: 1024px) {
  .centered__big {
    position: relative;
    margin: 0 auto;
    width: 1080px;
  }
  .centered__small {
    position: relative;
    margin: 0 auto;
    width: 932px;
  }
  .centered__very-big {
    position: relative;
    margin: 0 auto;
    width: 1160px;
  }
  .centered__main {
    position: relative;
    margin: 0 auto;
    width: 1218px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .center {
    margin: 0 auto;
  }
  .no-border {
    border: 0 !important;
  }
  .btn {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  .title-block {
    margin-bottom: 54px;
    font: 36px 'robotobold';
    color: #000;
    text-align: center;
  }
  .btn-red {
    display: block;
    width: 225px;
    height: 58px;
    background: #bf3737;
    border-radius: 15px;
    color: #fefefe;
    text-align: center;
    font: 16px 'robotolight';
    line-height: 58px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .btn-red:hover {
    background: #db3f3f;
    font-family: 'robotobold';
  }
  .block__contacts {
    margin-top: 10px;
    float: left;
    width: 194px;
  }
  .block__contacts p {
    margin: 8px 0 18px 0;
    display: block;
    font: 16px 'robotolight';
    color: #fefefe;
    height: 20px;
  }
  .block__contacts p img {
    margin-right: 8px;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
  }
  .block__contacts__phone {
    display: block;
    font: 20px 'robotolight';
    color: #fefefe;
    text-decoration: none;
  }
  .block__contacts__phone span {
    font-family: 'robotobold';
  }
  .block__contacts__mailto {
    display: block;
    font: 16px 'robotolight';
    line-height: 21px;
    color: #fefefe;
    text-decoration: none;
  }
  .block__contacts__mailto img {
    margin-right: 8px;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
  }
  .block__contacts__mailto span {
    font-family: 'robotobold';
  }
  .block__contacts__mailto:hover {
    text-decoration: underline;
  }
  .up-page {
    margin-top: 14px;
    margin-right: 66px;
    float: right;
    display: block;
    width: 64px;
    height: 64px;
    background: #bf3737 url('../img/icons/icon-3.png') no-repeat 19px 19px;
    border-radius: 50%;
    cursor: pointer;
  }
  .up-page:hover {
    background: #db3f3f url('../img/icons/icon-3.png') no-repeat 19px 16px;
  }
  main {
    margin: 60px 0;
    height: auto;
    overflow: hidden;
  }
}
a,
a:hover,
li,
img,
input,
textarea,
.goods__send-inquiry {
  transition: all 0.2s ease-in-out;
}
body {
  cursor: default;
}
a {
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .categories {
    margin: 0 auto;
    width: 1068px;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .categories p {
    font: 16px 'robotolight';
    color: #000;
  }
  .categories ul {
    margin: 0 52px;
    overflow: hidden;
    height: auto;
  }
  .categories ul li {
    margin-bottom: 60px;
    float: left;
    width: 234px;
    margin-right: 130px;
  }
  .categories ul li:nth-child(3n+3) {
    margin-right: 0;
  }
  .categories ul li p {
    font: 20px 'robotolight';
    color: #bf3737;
    text-transform: uppercase;
    text-align: center;
  }
  .categories ul li a,
  .categories ul li a:hover {
    display: block;
    text-decoration: none;
  }
  .categories ul li a img,
  .categories ul li a:hover img {
    margin-bottom: 26px;
    display: block;
    width: 234px;
    height: 216px;
  }
}
@media only screen and (min-width: 1024px) {
  footer {
    position: relative;
    padding-top: 38px;
    height: 266px;
    background: #131e22;
  }
  .footer__logo-copyright {
    float: left;
    width: 388px;
    height: auto;
    overflow: hidden;
  }
  .footer__logo-copyright p {
    margin-top: 10px;
    font: 16px 'robotolight';
    color: #fefefe;
  }
  .footer__logo {
    margin-bottom: 20px;
    display: block;
    width: 243px;
    height: 60px;
  }
  .footer__logo img {
    display: block;
    width: 243px;
    height: 60px;
  }
  .footer__copyright p {
    margin-top: 30px;
    font: 16px 'robotolight';
    color: #959595;
  }
  .footer__navigation {
    margin-top: 10px;
    float: left;
    width: 146px;
    margin-right: 145px;
  }
  .footer__navigation ul li a,
  .footer__navigation ul li a:hover {
    display: block;
    font: 16px 'robotolight';
    text-transform: uppercase;
    line-height: 30px;
    color: #fefefe;
    text-decoration: none;
  }
  .footer__navigation ul li a:hover,
  .footer__navigation ul li a:hover:hover {
    text-decoration: underline;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    margin-top: 22px;
    margin-bottom: 25px;
    height: 60px;
    overflow: hidden;
  }
  .header__logo {
    margin-right: 55px;
    display: block;
    width: 243px;
    height: 60px;
    float: left;
  }
  .header__title-site {
    margin-top: 10px;
    float: left;
    width: 243px;
    margin-right: 138px;
  }
  .header__title-site p {
    margin-bottom: 6px;
    font: 16px 'robotolight';
    color: #000;
  }
  .header__color-black {
    color: #000 !important;
  }
  .header__contacts {
    margin-right: 50px;
    margin-top: 6px;
    float: left;
    width: 194px;
    color: #000 !important;
  }
  .header__call {
    margin-top: 0px;
    float: left;
  }
}
@media only screen and (min-width: 1024px) {
  .header-bg {
    height: 190px;
    overflow: hidden;
    background: #f4f5f5;
    background-size: cover;
  }
}
@media only screen and (min-width: 1024px) {
  .main-header {
    margin-top: 6px;
    margin-bottom: 8px;
    height: 94px;
  }
  .main-header__logo {
    margin-right: 83px;
    display: block;
    width: 238px;
    height: 94px;
    float: left;
  }
  .main-header__title-site {
    margin-top: 26px;
    float: left;
    width: 243px;
    margin-right: 145px;
  }
  .main-header__title-site p {
    margin-bottom: 10px;
    font: 16px 'robotolight';
    color: #fefefe;
  }
  .main-header__contacts {
    margin-right: 50px;
    margin-top: 26px;
    float: left;
    width: 194px;
  }
  .main-header__call {
    margin-top: 19px;
    float: left;
  }
}
@media only screen and (min-width: 1024px) {
  .main-navigation {
    margin-bottom: 27px;
    height: 55px;
  }
  .main-navigation__body {
    border: 1px solid #989d9f;
    background: 0;
    height: 53px;
  }
  .main-navigation__links li a,
  .main-navigation__links li a:hover {
    float: left;
    display: block;
    padding: 0 30px;
    height: 53px;
    font: 20px 'robotolight';
    color: #fefefe;
    text-decoration: none;
    line-height: 53px;
    text-transform: uppercase;
  }
  .main-basket__small {
    float: right;
    width: 170px;
    height: 53px;
    border-left: 1px solid #989d9f;
  }
  .main-basket__small a,
  .main-basket__small a:hover {
    margin: 15px 0 0 23px;
    padding-left: 35px;
    display: block;
    height: 22px;
    background: url('../img/icons/icon-5.png') no-repeat;
    font: 16px 'robotolight';
    color: #fefefe;
    text-decoration: none;
    line-height: 22px;
  }
  .main-basket__small a:hover,
  .main-basket__small a:hover:hover {
    text-decoration: underline;
  }
}
@media only screen and (min-width: 1024px) {
  .main-screen-bg {
    height: 514px;
    overflow: hidden;
    background: url('../img/main-action-bg.png') no-repeat center;
    background-size: cover;
  }
}
@media only screen and (min-width: 1024px) {
  .navigation {
    margin-bottom: 29px;
    height: 55px;
  }
  .navigation__body {
    border: 1px solid #f4f5f5;
    background: 0;
    height: 53px;
  }
  .navigation__links li a,
  .navigation__links li a:hover {
    float: left;
    display: block;
    padding: 0 30px;
    height: 53px;
    font: 20px 'robotolight';
    color: #bf3737;
    text-decoration: none;
    line-height: 53px;
    text-transform: uppercase;
  }
  .basket__small {
    float: right;
    width: 170px;
    height: 53px;
    border-left: 1px solid #fefefe;
  }
  .basket__small a,
  .basket__small a:hover {
    margin: 15px 0 0 23px;
    padding-left: 35px;
    display: block;
    height: 22px;
    background: url('../img/icons/icon-6.png') no-repeat;
    font: 16px 'robotolight';
    color: #000;
    text-decoration: none;
    line-height: 22px;
  }
  .basket__small a:hover,
  .basket__small a:hover:hover {
    text-decoration: underline;
  }
}
@media only screen and (min-width: 1024px) {
  .news ul li {
    margin-bottom: 36px;
    float: left;
    width: 545px;
    margin-right: 69px;
  }
  .news ul li a,
  .news ul li a:hover {
    display: block;
    font: 24px 'robotobold';
    color: #bf3737;
    text-decoration: none;
  }
  .news ul li span {
    margin: 4px 0 15px 0;
    display: block;
    font: 16px 'robotolight';
    color: #6a7275;
  }
  .news ul li p {
    margin-bottom: 4px;
    font: 16px 'robotolight';
    color: #000;
  }
  .news ul li:nth-child(2n+2) {
    margin-right: 0;
  }
  .news__link-detail {
    display: block;
    font: 16px 'robotolight' !important;
    color: #bf3737;
  }
}
@media only screen and (min-width: 1024px) {
  .portfolio ul li {
    float: left;
    width: 342px;
    margin-right: 66px;
  }
  .portfolio ul li a,
  .portfolio ul li a:hover {
    display: block;
    height: 436px;
    text-decoration: none;
  }
  .portfolio ul li a:hover,
  .portfolio ul li a:hover:hover {
    text-decoration: none;
  }
  .portfolio ul li a:hover p,
  .portfolio ul li a:hover:hover p {
    font-family: 'robotobold';
  }
  .portfolio ul li a p,
  .portfolio ul li a:hover p {
    font: 20px 'robotolight';
    text-align: center;
    color: #bf3737;
    line-height: 80px;
  }
  .portfolio ul li:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .sertificates {
    margin: 0 auto;
    width: 1068px;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .sertificates ul li {
    margin-bottom: 36px;
    float: left;
    width: 320px;
    margin-right: 49px;
  }
  .sertificates ul li:nth-child(3n+3) {
    margin-right: 0;
  }
  .reviews {
    height: auto;
    overflow: hidden;
    margin-bottom: 60px;
  }
  .reviews__review {
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .reviews__review img {
    margin-left: 50px;
    margin-right: 60px;
    display: block;
    float: left;
    width: 129px;
    height: 129px;
    border-radius: 50%;
  }
  .reviews__review:last-child {
    margin-bottom: 0;
  }
  .reviews__review__content {
    width: 920px;
    float: left;
  }
  .reviews__review__content p {
    font: 16px 'robotolight';
    color: #000;
  }
  .reviews__review__content__name {
    margin-bottom: 16px;
    font: 24px 'robotobold' !important;
    color: #000;
  }
  .reviews__review__content__name span {
    padding-left: 10px;
    font: 20px 'robotolight' !important;
    color: #000;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__about {
    padding: 52px 0;
    height: auto;
    overflow: hidden;
    background: url('../img/about-bg.png');
  }
  .subblock__about__sertificates {
    margin-left: 38px;
    float: left;
    width: 510px;
  }
  .subblock__about__sertificates ul {
    height: auto;
  }
  .subblock__about__sertificates ul li {
    margin-right: 76px;
    float: left;
    width: 215px;
  }
  .subblock__about__sertificates ul li:last-child {
    margin-right: 0;
  }
  .subblock__about__sertificates ul li img {
    margin-bottom: 34px;
    display: block;
    width: 215px;
    height: 308px;
  }
  .subblock__about__sertificates ul li p {
    font: 16px 'robotobold';
    text-align: center;
    color: #131e22;
  }
  .subblock__about__content {
    float: right;
    width: 532px;
  }
  .subblock__about__content h4 {
    font: 26px 'robotobold';
    color: #000;
    margin-bottom: 10px;
  }
  .subblock__about__content p {
    font: 16px 'robotolight';
    line-height: 28px;
    color: #000;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__main-action-screen {
    height: 285px;
    overflow: hidden;
  }
  .subblock__main-action-screen img {
    margin-right: 78px;
    display: block;
    float: left;
    width: 259px;
    height: 285px;
  }
  .subblock__main-action-screen form {
    margin-top: 38px;
    float: left;
    width: 225px;
  }
  .subblock__main-action-screen form input[type="text"] {
    margin-bottom: 22px;
    width: 225px;
    height: 60px;
    background: #fefefe;
    border-radius: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    font: 16px 'robotolight';
    color: #000;
  }
  .subblock__main-action-screen form input[type="submit"] {
    width: 225px;
    height: 60px;
    background: #bf3737;
    border-radius: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font: 16px 'robotolight';
    color: #fefefe;
    text-transform: uppercase;
  }
  .subblock__main-action-screen form input[type="submit"]:hover {
    background: #db3f3f;
    font-family: 'robotobold';
  }
  .subblock__main-action-screen__content {
    margin-right: 98px;
    float: left;
    width: 485px;
    height: 285px;
  }
  .subblock__main-action-screen__content h2 {
    margin-top: 35px;
    margin-bottom: 24px;
    font: 36px 'robotolight';
    color: #fefefe;
    line-height: 36px;
  }
  .subblock__main-action-screen__content p {
    font: 20px 'robotolight';
    line-height: 30px;
    color: #fefefe;
  }
  .subblock__main-action-screen form input::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .subblock__main-action-screen form input::-moz-placeholder {
    color: #000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .subblock__main-action-screen form input:-moz-placeholder {
    color: #000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .subblock__main-action-screen form input:-ms-input-placeholder {
    color: #000;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .subblock__main-action-screen form input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .subblock__main-action-screen form input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .subblock__main-action-screen form input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .subblock__main-action-screen form input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__main-services {
    padding: 56px 0 20px 0;
    height: auto;
    overflow: hidden;
    background: url('../img/services-main-bg.png') no-repeat center;
    background-size: cover;
  }
  .subblock__main-services h2 {
    color: #fefefe;
  }
  .subblock__main-services .goods ul li p,
  .subblock__main-services .goods ul li a {
    color: #fefefe !important;
  }
  .subblock__main-services .goods ul li a,
  .subblock__main-services .goods ul li a:hover {
    font-family: 'robotobold';
  }
  .subblock__main-services .goods li {
    height: 484px;
  }
  .subblock__main-services__circle {
    margin: 0 auto;
    margin-bottom: 56px;
    width: 197px;
    height: 197px;
    border-radius: 50%;
    border: 6px solid #fefefe;
  }
  .subblock__main-services__circle img {
    margin: 47px 0 0 62px;
    width: 74px;
    height: 102px;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__popular-goods {
    padding: 90px 0 40px 0;
    height: auto;
    overflow: hidden;
    background: #fff;
  }
  .goods ul li {
    margin-bottom: 50px;
    margin-right: 97px;
    position: relative;
    float: left;
    width: 292px;
    height: 560px;
    text-align: center;
    overflow: hidden;
  }
  .goods ul li:nth-child(3n+3) {
    margin-right: 0;
  }
  .goods ul li img {
    margin-bottom: 30px;
    display: block;
  }
  .goods ul li p {
    margin-bottom: 4px;
    font: 16px 'robotolight';
    color: #131e22;
  }
  .goods ul li p span {
    padding-right: 4px;
    font-family: 'robotobold';
  }
  .goods ul li a,
  .goods ul li a:hover {
    display: block;
    font: 20px 'robotolight';
    line-height: 24px;
    color: #000;
    text-decoration: none;
  }
  .goods__send-inquiry {
    position: absolute;
    bottom: 0;
    left: 17px;
    margin: 0 auto;
    display: block;
    width: 255px;
    height: 59px;
    background: #bf3737;
    border-radius: 15px;
    font: 16px 'robotolight' !important;
    color: #fefefe !important;
    text-transform: uppercase;
    line-height: 59px !important;
    text-decoration: none;
  }
  .goods__send-inquiry:hover {
    font-family: 'robotobold' !important;
    background: #db3f3f;
  }
  .goods__line {
    margin: 20px auto;
    width: 100px;
    height: 1px;
    background: #d7d7d7;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__manufactures {
    padding: 62px 0 0 0;
    height: auto;
    overflow: hidden;
  }
  .subblock__manufactures ul {
    margin-top: 90px;
    height: auto;
  }
  .subblock__manufactures ul li {
    margin-right: 88px;
    margin-bottom: 80px;
    float: left;
    width: 224px;
    height: 92px;
  }
  .subblock__manufactures ul li:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .subblock__services {
    padding: 74px 0 64px 0;
    height: auto;
    background: #fff;
  }
  .subblock__services ul {
    margin-bottom: 74px;
    height: auto;
    overflow: hidden;
  }
  .subblock__services ul li {
    margin-right: 74px;
    float: left;
    width: 337px;
    height: 337px;
  }
  .subblock__services ul li:last-child {
    margin-right: 0;
  }
  .subblock__services ul li img {
    width: 337px;
    height: 337px;
  }
  .subblock__services__content {
    height: auto;
    overflow: hidden;
  }
  .subblock__services__content div {
    display: block;
    float: left;
  }
  .subblock__services__content div h4 {
    margin-bottom: 10px;
    font: 24px 'robotobold';
    color: #000;
  }
  .subblock__services__content div p {
    font: 16px 'robotolight';
    color: #000;
  }
  .subblock__services__content div ul {
    margin-top: 38px;
    height: auto;
    margin-bottom: 0;
  }
  .subblock__services__content div ul li {
    float: none;
    width: auto;
    height: auto;
  }
  .subblock__services__content div ul li p {
    margin-left: 20px;
    margin-bottom: 23px;
  }
  .subblock__services__content div ul li img {
    width: 13px;
    height: 13px;
    margin-top: 2px;
    display: block;
    float: left;
  }
  .subblock__services__content div:nth-child(1) {
    width: 562px;
  }
  .subblock__services__content div:nth-child(2) {
    float: right;
    width: 550px;
  }
}
