.subblock__popular-goods

  // centered

  .centered__big

    h2.title-block
      | Популярные товары


    // goods

    .goods

      ul

        // item

        li
          img(src="../img/goods/good-1.png" alt="")
          a(href="#" title="")
            | Бронированные дверные ручки

          .goods__line

          p
            span
              | Тип механизма:
            | сульвидный
          p
            span
              | Класс:
            | 4
          a.goods__send-inquiry(href="#" title="")
            | Отправить запрос

        // item

        li
          img(src="../img/goods/good-2.png" alt="")
          a(href="#" title="")
            | Бронированные дверные ручки

          .goods__line

          p
            span
              | Тип механизма:
            | сульвидный
          p
            span
              | Класс:
            | 4
          a.goods__send-inquiry(href="#" title="")
            | Отправить запрос

        // item

        li
          img(src="../img/goods/good-3.png" alt="")
          a(href="#" title="")
            | Бронированные дверные ручки

          .goods__line

          p
            span
              | Тип механизма:
            | сульвидный
          p
            span
              | Класс:
            | 4
          a.goods__send-inquiry(href="#" title="")
            | Отправить запрос