.main-screen-bg

  // centered

  .centered__big

    // block main header
    
    include ../block-main-header/main-header.pug

    // / block main header

    // block main navigation
    
    include ../block-main-navigation/main-navigation.pug

    // / block main navigation

    // subblock main screen bg
    
    include ../subblock-main-action/main-action.pug

    // / subblock main screen bg