header.header#header

	// centered

	.centered__very-big

		// logo

		a.header__logo(href="#" title="")
			img(src="../img/header-logo.png" alt="@@")

		// title site

		.header__title-site
			p
				| Замена и ремонт замков дверей
			p
				| Выезд по Москве и МО

		// contacts

		.block__contacts.header__contacts
			a.block__contacts__phone.header__color-black(href="tel:+74955655656" title="")
				| +7 (495) <span>565 56 56</span>
			p.header__color-black
				img(src="../img/icons/icon-7.png" alt="")
				| Круглосуточно

		// call

		a.btn-red.header__call(href="#" title="")
			| Заказать звонок
