.order

	// title block

	h2.title-block
		| Подтверждение заказа

	// form

	form(action="/" metho="post")

		.order__inputs

			input(type="text" name="" placeholder="Имя, Фамилия*" required)
			input(type="text" name="" placeholder="E-mail*" required)
			input(type="text" name="" placeholder="Телефон*" required)

		.order__labels

			label
				input(type="checkbox" name="" checked)
				p
					|	Хочу получать персональные предложения и скидки по эл. почте

		.order__delivery
			p
				| Доставка в г. 
				a(href="#" title="")
					| Москва
			
		.order__delivery__types

			.order__delivery__types__column

				h4
					| Курьером: от 279 руб.

				p
					| Завтра

			.order__delivery__types__column

				h4
					| Самовывоз: от 0 руб.

				p
					| Завтра

			.order__delivery__types__column

				h4
					| Почта: от 246 руб.

				p
					| 15 июня

		.order__payment

			h4
				| Оплата

			p
				| Выберете способ оплаты

			label.w-100 
				input(type="radio")
				img(src="../img/payments/payment-1.png" alt="@@" checked)

			label
				input(type="radio")
				img(src="../img/payments/payment-2.png" alt="@@")

			label
				input(type="radio")
				img(src="../img/payments/payment-3.png" alt="@@")

			label.w-150 
				input(type="radio")
				img(src="../img/payments/payment-4.png" alt="@@")

			label
				input(type="radio")
				img(src="../img/payments/payment-5.png" alt="@@")

		.order__buttons

			input.btn-red(type="submit" value="Подтвердить")
			a.order__buttons__back(href="#" title="")
				| Отменить