.categories

	// title block

	h2.title-block
		| Категории замков

	ul
		li
			a(href="#" title="")
				img(src="../img/locks/lock-1.png" alt="@@")
				p
					| Замки навесные
		li
			a(href="#" title="")
				img(src="../img/locks/lock-2.png" alt="@@")
				p
					| Врезные замки
		li
			a(href="#" title="")
				img(src="../img/locks/lock-3.png" alt="@@")
				p
					| Накладные замки
		li
			a(href="#" title="")
				img(src="../img/locks/lock-4.png" alt="@@")
				p
					| Кодовые замки
		li
			a(href="#" title="")
				img(src="../img/locks/lock-5.png" alt="@@")
				p
					| Почтовые замки

	p
		| Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста по поводу дальнейшей эксплуатации замка, возможность выбрать замок из каталога предложенных на свой вкус и установить его моментально. Наша замена замков входных дверей известна во всем городе, как та, что включает в себя полный спектр работ, необходимых для того, чтобы дверь работала исправно. С нами замена дверных замков – это не просто механические действия, но и тщательный осмотр входной двери, профилактика намечающихся неисправностей, определение того, какой тип инструментария необходим для ремонта конкретной поломки.Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста   Замена замков в нашей компании – это гарантия оперативного выезда на объект в течении часа, грамотная и исчерпывающая консультация специалиста по поводу дальнейшей эксплуатации замка, возможность выбрать замок из каталога предложенных на свой вкус и установить его моментально. Наша замена замков входных дверей известна во всем городе, как та, что включает в себя полный спектр работ, необходимых для того, чтобы дверь работала исправно. С нами замена дверных замков – это не просто механические действия, но и тщательный осмотр входной двери, профилактика намечающихся неисправностей, определение того, какой тип инструментария необходим для ремонта конкретной поломки.